.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  background-color: var(--white);
  border-radius: 14px;
  padding: 1.6rem;

  grid-column: 2 / -1;
}

.input {
  border: none;
  font-weight: 400;
  color: var(--gray-300);
}
.calendar {
  width: 150px;
  border: none;
}
.task-card--input, .task-card--input .input, .task-card--input .calendar {
  background-color: var(--gray-200);
}

.task__due {
  border-radius: 9px;
  padding: .4rem .8rem;
  line-height: 1.6rem;
  background-color: var(--gray-200);
}
.task__icon {
  height: 25px;
  width: 25px;
}

.task__check {
  appearance: none;
  background-color: var(--gray-200);
  width: 2.8rem;
  outline: none;
  height: 2.8rem;
  border-radius: 9px;
}
.task__check:checked {
  background-color: var(--gray-500);
}
.task__check:checked::before {
  content: "\2713";
  width: 100%;
  height: 50%;
  text-align: center;
  align-items: center;
  display: inline-block;
  transform: scale(1.3);
  color: var(--white);
}

.task__check--done + .task__title {
  text-decoration: line-through;
  color: var(--gray-300);
}